.bg-authentication {
    --background: none;
    background-image: url('/../../../assets/images/bg-aut.jpg');
    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    ion-input {
        --placeholder-color: #1D4789;
        --ion-font-family: "Montserrat";
        color: #1D4789;
    }
}