.bg-authentication {
    --background: none;
    background-image: url('/../../../assets/images/bg-aut.jpg');
    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
}